<a href="https://colab.research.google.com/github/dovele/scraper/blob/main/ebay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import math
from csv import reader
import csv
import re

In [54]:
headers = {'User-Agent':
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5',
            'Referer': 'https://google.com',
            'DNT': '1'}

In [55]:
searchterm = 'sunglasses'
page = range(0, 15)

In [56]:
class Scraper:
  def get_data(searchterm):
      url = f'https://www.ebay.com/sch/i.html?_from=R40&_nkw={searchterm}&_sacat=0&_ipg=192&_pgn={page}'
      r = requests.get(url, headers=headers)
      soup = BeautifulSoup(r.text, 'html.parser')
      return soup

  def parse(soup):
      productslist = []
      results = soup.find_all('div', {'class': 's-item__wrapper clearfix'})
      for item in results:
          product = {
              'category': item.find('span', {'class': 'SECONDARY_INFO'}),
              'title': item.find('h3', {'class': 's-item__title'}).text,
              'price': item.find('span', {'class': 's-item__price'}),
              'image': item.find('img', {'class': 's-item__image-img'}),
              'item': item.find('a')       
          }
          productslist.append(product)
      return productslist

  def output(productslist, searchterm):
        productsdf =  pd.DataFrame(productslist)
        productsdf.to_csv(searchterm + 'output.csv', index=False)
        print('Saved to CSV')
        return

  soup = get_data(searchterm)
  productslist = parse(soup)
  output(productslist, searchterm)

Saved to CSV

In [57]:
df_sunglasses = pd.read_csv('sunglassesoutput.csv')
#df_bikini = pd.read_csv('bikinisoutput.csv')
#df_dress = pd.read_csv('dressoutput.csv')
df_sunglasses

                                          category  ...                                               item
0                                              NaN  ...  <a _sp="p2351460.m1686.l7400" class="s-item__l...
1    <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
2    <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
3    <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
4    <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
..                                             ...  ...                                                ...
202  <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
203  <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
204  <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
205  <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...
206  <span class="SECONDARY_INFO">Brand New</span>  ...  <a _sp="p2351460.m1686.l7400" aria-hidden="tru...

[207 rows x 5 columns]

#Database
app can be found at https://scraper-225.herokuapp.com/

In [58]:
!pip install config
!pip install psycopg2

Requirement already satisfied: config in /usr/local/lib/python3.7/dist-packages (0.5.0.post0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [59]:
import config
import psycopg2 
from psycopg2 import connect

connection = psycopg2.connect(
    database="d9peu2e501rl36",
    user="ixlplailywcloj",
    password="be110b709e1f619238f50e817038e07b875dcdd90bbb631096ab3f5ba101390e",
    host="ec2-176-34-222-188.eu-west-1.compute.amazonaws.com",
    port="5432"
)

connection

#Tables

In [60]:
cur = connection.cursor()

cur.execute('''CREATE TABLE products (
  id serial PRIMARY KEY, 
  category varchar(255), 
  title varchar(255), 
  price int, 
  image varchar(255), 
  item varchar(255)); ''')

connection.commit()

In [63]:
#Screenshot of the database in heroku
https://drive.google.com/file/d/1wU5BTehYjQLY_iPZG543WW-5e-6-WyIn/view?usp=sharing

/bin/bash: -c: line 0: syntax error near unexpected token `https://drive.google.com/uc/1wU5BTehYjQLY_iPZG543WW-5e-6-WyIn/view?usp=sharing'
/bin/bash: -c: line 0: `[picture](https://drive.google.com/uc/1wU5BTehYjQLY_iPZG543WW-5e-6-WyIn/view?usp=sharing)'